.shopping-cart {
    min-width: 450px;
  }
  .image-width {
    width: 90px;
  }

  .btn{
    padding: .8rem .5em;
    border-radius: .8rem;
  }

  .min-width{
    min-width: 300px;
  }
  
  .btn-checkout{
    padding: 1rem;
  }

  .btn-block+.btn-block{
    margin-top: 0;
  }

  .bg-completed{
    background: rgb(0, 255, 106);
  }